  <div class="hero inner-page">
    <div class="container">
      <div class="intro">
        <h2 style=>ABOUT US<span class="tblue">.</span></h2>
      </div>
    </div>
  </div>
</div>
<div class="about-us block">
  <div class="container">
    <br>
    <br>
    <!-- About One -->
    <div class="about-one">
      <!-- About One Item -->
      <div class="about-one-item">
        <!-- About One Content -->
        <div class="about-one-content">
          <!-- Header -->
          <h3>Fly-N-Ryde is here to help you!</h3>
          <!-- Paragraph -->
          <p>Fly-n-Ryde makes it easy for travelers at major New York airports to connect to make their journey to their final destination convenient, fast, and affordable.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>