<!-- Hero starts -->
  <div class="hero inner-page">
    <div class="container">
      <div class="intro">
        <h2 style="padding-left: 30px;">WELCOME TO FLY<span class="tblue">-N-</span>RYDE<span class="tblue">.</span></h2>
      </div>
    </div>
  </div>
</div>
<div class="blog-single block">
  <div class="container" style="padding-top: 30px; padding-left: 60px;">  
    <div class="row">
      <div class="col-md-8">
        <div class="blog-single-content">
          <div class="blog-single-item">
            <h4 style="font-size: 30px; color: grey;">Sign in with Uber to get started<span class="tblue">.</span></h4>
            <h4 style="font-size: 30px; color: grey;">Add your destination<span class="tblue">.</span></h4>
            <h4 style="font-size: 30px; color: grey;">Look for a buddy to split a ride with you<span class="tblue">.</span></h4><br />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shot">
          <img src="<%= image_path("phone1.png") %>" alt="image" class="img-responsive"/>
        </div>
      </div>
    </div>
  </div>  
</div>