<!-- Hero starts -->
<div class="container">
  <div class="hero">
    <div class="container">  
      <div class="row">
        <div class="col-md-8">
          <div class="intro">
            <h2>FLY<span class="tblue">-N-</span>RYDE</h2>
            <p>Sign in with Uber to get started. Add your destination. Look for a buddy to split a ride with you!</p><br />
          </div>
        </div>
        <div class="col-md-4">
          <div class="shot">
            <img src="<%= image_path("phone1.png") %>" alt="image" class="img-responsive"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>