  <div class="hero inner-page">
    <div class="container">
      <div class="intro">
        <h2 style="padding-left: 30px;">PRIVACY POLICY<span class="tblue">.</span></h2>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 30px; padding-left: 60px;">
  <br>
  <p style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>This site collects the following:</strong>
  </p>

  <div class='innerText'>
      Name
  </div>

  <div class='innerText'>
      Phone number
  </div>

  <br>

  <div class='grayText' style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>Information is collected from you when you:</strong>
  </div><br>

  <div class='innerText'>
      Click on "Login through Uber"
  </div><span id='infoUs'></span><br>

  <div class='grayText' style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>The information collected from you is used in the following
      ways:</strong>
  </div><br>

  <div class='innerText'>
      To personalize user's experience
  </div>

  <div class='innerText'>
      To improve the website
  </div>

  <br>

  <div class='grayText' style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>How do we protect visitor information?</strong>
  </div><br>

  <div class='innerText'>
      We do not use vulnerability scanning and/or scanning to PCI standards.
  </div>

  <div class='innerText'>
      We do not use an SSL certificate
  </div>

  <div class='innerText'>
      We do not need an SSL because:
  </div>

  <div class='innerText'>
      This site uses OAuth 2.0 protocol, does not access credit card information,
      and is not linked to a database.
  </div>
  <br>

  <p style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>Do we use 'cookies'?</strong>
  </p>
  <div class='innerText' style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>We use cookies to:</strong>
  </div>

  <div class='innerText'>
      Enable sessions to know which user is logged in.
  </div>

  <div class='innerText'>
      Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.
  </div>

  <div class='innerText' style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>If users disable cookies in their browser:</strong>
  </div>

  <div class='innerText'>
      It will turn off some of the features of the site, particularly the generated biography page.<br>
  </div>
  <br>

  <div class='grayText' style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>Third Party Disclosure</strong>
  </div>

  <div class='innerText'>
      We may transfer your non-identifiable information to third parties. We may also transfer your identifiable information, but only to trusted third parties
  </div>

  <br>

  <div class='grayText' style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>Third party links</strong>
  </div>

  <div class='innerText'>
      We do not include or offer third party products or services on our
      website.
  </div>

  <br>
  <div class='blueText' style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>Google</strong>
  </div>

  <div class='innerText'>
      We have not enabled Google Adwords on our site but we may do so on the
      future.
  </div>

  <div class='innerText'>
      Users must change their information on Facebook to update the
      information on this site.
  </div>
  <br>
  <div class='blueText' style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>COPPA (Children Online Privacy Protection Act)</strong>
  </div>

  <div class='innerText'>
      We do not specifically market to children under 13
  </div>

  <br>

  <p style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
    <strong>Fair Information Practices</strong>
  </p>

  <div class='innerText' style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
    <strong>
        In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
    </strong>
  </div>

  <div class='innerinnerText'>
      We will notify the users via in site notification within 7 business days.
      We agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.
  </div>

  <br>


  <p style="text-transform: uppercase; font-family: 'Open sans'; font-size: 15px; font-weight: bold;">
      <strong>Contact Information</strong>
  </p>

  <div class='innerText'>
      http://fly-n-ryde.herokuapp.com/
  </div>

  <div class='innerText'>
      New York
  </div>

  <div class='innerText'>
      United States of America
  </div>

  <div class='innerText'>
      11 Broadway
  </div>

  <div class='innerText'>
      NY
  </div>

  <div class='innerText'>
      10004
  </div>

  <div class='innerText'>
      info@flatironschool.com
  </div>

  <div class='innerText'>
      (347) 729-7911
  </div>

  <br>
</div>
